.section3_main{
    display: flex;
    flex-direction: column;
}
.section3_main h3{
    display: flex;
    justify-content: center;
    padding: 5rem 0rem 2rem 0;
    font-size: 2rem;
    margin-top: 3rem;
    color: #a2a28a;
}
.section3_main hr{
    width: 21rem;
    height: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.section3_content{
    width: 100%;
    flex-direction: row;
    margin:40px 0px 50px 0 ;
    padding: 40px 0px 50px 0;
    justify-content: center;
    display: flex;
}
.box1,.box2,.box3{
    margin-right: 3rem;
}
.section3_main .orderNow{
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -3rem;
}