.logo {
  display: flex;
  width: 500px;
  align-items: center;
  color: #ff847c;
  gap: 30px;
  margin: 30px 0 70px 0;
  font-weight: 700;
}
.logo h1 {
  font-weight: 700;
  font-size: 3em;
}
.headline {
  font-size: 35px;
  font-weight: 300;
  margin: 0px 0 35px 0;
}
.headline2-container {
  max-width: 600px;
  margin: 0px 0 33px 0;
}
.headline2 {
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
  color: #e8d158;
}
.headline-para {
  color: #e2e1e1;
  opacity: 72%;
  max-width: 350px;
  line-height: 30px;
}


.section1 {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
}
.line {
  width: 30%;
  height: 1px;
  background-color: #e8d158;
  margin-bottom: 20px;
}
.sec1half1 {
  width: 100%;
  padding: 1.875em 2.5em;
  background-color: #46122e;
  display: flex;
  flex-direction: column;
}

.explore-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.explore-container h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  margin-right: 0.9rem;
}
.mandala {
  margin-left: 6.5rem;
  border-color: black;
  background-color: red;
  position: relative;
}
.mandala #gmandala {
  position: absolute;
  top: -10vh;
  z-index: 3;
  width: 26vw;
  right: max(-29vw, -480px);
}
.mandala #gpot {
  position: absolute;
  top: -3vh;
  width: 14vw;
  right: max(-29vw, -395px);
}

.background-headline {
  /* transform-origin: bottom;
  transform: rotate(270deg); */
  position: relative;
  top: -50px;
  left: 28vw;
  z-index: 0;
  transform: rotate(-90deg);
  font-size: 100px;
  color: #a37d91;
  opacity: 32%;
}

.sec1half2 {
  background-color: rgb(70, 18, 76, 21%);
  width: 100%;
}

.navbar ul li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0, 30%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #f1f1f1b4;
}

.active {
  background-color: #b06400;
}

/* slideshow */
.slideshow-container {
  max-width: 400px;
  max-height: 400px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.mySlides > img {
  width: 400px;
  height: 400px;
  object-fit: fill;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/* .section1::before{
  content: "01";
  position: absolute;
  bottom: 4rem;
  right: 8rem;
  font-size: 12rem;
  color: #fbf7f7b5;
<<<<<<< HEAD
  font-family: 'Noto Serif HK', serif;
} */
