.section4 {
    height: 104vh;
    width: 100%;
    background-color: #efd7dd;
    background-image: url('../images/madala_art/section1.png');
    background-repeat: no-repeat;
    /* background-blend-mode: multiply; */
    background-repeat: space;
    background-position: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.grid_main{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;

}
.section4_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
.section4_heading h4{
  font-size: 32px;
  font-weight: bold;
  color: #b43d5b;
  margin-bottom: 7px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.product_container1{
  overflow: hidden;
  width: 17rem !important;
  height: 38.5rem !important;
  margin-right: 2rem;
}
.product_container1 img{
  width: 17rem;
    inline-size: fit-content;
    object-fit: contain !important;
    overflow: hidden;
    z-index: 0;
}
.grid_image{
  overflow: hidden;
  inline-size: fit-content;
  object-fit: contain !important;
}
.grid_image img{
    inline-size: fit-content;
    /* object-fit: contain !important; */
    overflow: hidden;
    z-index: 0;
}
.div1,.div2,.div3,.div4{
    width: 14rem;
    height: 18.5rem;
    background-size:14rem 14rem ;
    background-color: #caaab2;
}
.div1 img,.div2 img,.div3 img,.div4 img{
    width: 14rem;
    height: 14.7rem;
    object-fit: cover;
}
.product_container1::after{
  content: "Kashish’s Embroidery";
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    top: -9rem;
}
.grid_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.grid_content h6{
    font-size: 15px;
    font-weight: lighter;
}
.grid_content h5{
font-size: 16.5px;
font-family: "Noto Serif HK", serif;
font-weight: 600;
}

.product_container1 img:hover,.product_container2_grid img:hover{
  transform: scale(1.06);
  transition: all 1s;
}