@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Noto+Serif+HK:wght@300;500;700&display=swap");
.section2 {
  padding: 0 !important;
}
.section2_bg video{
  min-width: 100%;
  height: 40vh;
  background: url('../images/bg_video/bg_video_big.mp4') no-repeat;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  contain: size;
}
.section2_main {
  display: flex;
  flex-direction: row;
  background: url("../images/seection2_bg.jpg") no-repeat center;
  /* background-size: cover; */
}
.section2_main img {
  position: relative;
  height: 35rem;
  top: -12rem;
  left: 6rem;
  
}
.section2_content {
  width: 29rem;
    /* position: relative; */
    top: 3rem;
    left: 11rem;
    margin: 3rem 0 0 20rem;
}
.section2_content h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
}
.section2_content p {
  margin-bottom: 1.5rem;
}
.section2_num {
  display: flex;
  flex-direction: row;
}
.section_row {
  margin: 1rem 4rem 0rem 0rem;
}
.section_row span {
  font-family: "Noto Serif HK", serif;
  /* font-weight: 500; */
  font-size: 3rem;
  font-weight: 500;
}
.section_row p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: small;
}
@media screen and (max-width:1200px) {
    .section2_content{
        margin: 3rem 0 0 10rem !important;
    }
}


