.section1 {
  background-color: #f1f1f1;
  height: 100vh;
  padding: 50px;
  margin: 0px;
  text-align: center;
}
.section2 {
  background-color: #52c0f3;
  height: 100vh;
  padding: 50px;
  margin: 0px;
  text-align: center;
}
.section3 {
  background-color: #cbf32b;
  height: 100vh;
  padding: 50px;
  margin: 0px;
  text-align: center;
}
