@import url("https://fonts.cdnfonts.com/css/neutra-text-tf");
@import url("https://fonts.cdnfonts.com/css/josefin-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neutra Text Light", sans-serif;

  /* font-family: "Josefin Sans", sans-serif; */
}
.section1 {
  height: 104vh;
  color: white;
  display: flex;
}

.section2 {
  height: 100vh;
  padding: 0 !important;
}
.section3 {
  height: 100vh;
  margin: 0px;
  background: url("../images/section3_bg.jpg") no-repeat center;
}
.circle{
  pointer-events: none;
  position: absolute !important;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  background-color:#46122E;
  transition: all cubic-bezier(0.19,1,0.22,1) .5s;
  z-index: 1 !important;
}
.cursor_big{
  position: relative !important;
  z-index: 2 
  !important;
}
#google_translate_element{
  position: fixed;
  bottom: 1rem;
  right: 1rem !important;
  width: 10% !important;
}