@import url("https://fonts.cdnfonts.com/css/neutra-text-tf");
@import url("https://fonts.cdnfonts.com/css/josefin-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neutra Text Light", sans-serif;

  /* font-family: "Josefin Sans", sans-serif; */
}
.section1 {
  height: 100vh;
  color: white;
  display: flex;
}

.section2 {
  /* background-color: #52c0f3; */
  height: 100vh;
  /* padding: 50px; */
  margin-bottom: 6rem;
  /* margin: 0px; */
  /* text-align: center; */
    padding: 0 !important;
  
}
.section3 {
  /* background-color: #cbf32b; */
  height: 100vh;
  /* padding: 50px; */
  margin: 0px;
  /* text-align: center; */
  background: url('../images/section3_bg.jpg') no-repeat center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
